<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" data-turbo-temporary>
    <p class="fw-semibold mb-1">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <ul class="mb-0 ps-3">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
