<% content_for :title, "Create Coupon" %>

<div class="page-header">
  <h1 class="page-title h4">Create a Coupon</h1>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-body p-4">
        <%= render "form", coupon: @coupon, url: super_admin_coupons_path, method: :post %>
      </div>
    </div>
  </div>
</div>
